@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(212 212 216);
}

*::-webkit-scrollbar-thumb {
  background: rgb(161 161 170);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(147, 147, 153);
}

*::-webkit-scrollbar-thumb:active {
  background: rgb(129, 129, 134);
}

.dark *::-webkit-scrollbar-track {
  background: rgb(42, 42, 44);
}

.dark *::-webkit-scrollbar-thumb {
  background: rgb(57, 57, 60);
}

.dark *::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 85);
}

.dark *::-webkit-scrollbar-thumb:active {
  background: rgb(94, 94, 97);
}

.question-feedback-enter {
  opacity: 0;
}

.question-feedback-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.question-feedback-exit {
  opacity: 1;
}

.question-feedback-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
